.imgWrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    grid-gap: 15px;
    height: 60vh;
}
.underImgWrapper{  
    display: flex;
    align-items: center;
}
.img{
    object-fit: contain;
    width: 90%;
    height: 80%;
}
.underImgWrapper div{
    height: 55px;
    width: 95%;
}
.imgWrapper div{
    height: 55px;
}
.nameWrapper{
    display: flex;
flex-direction: column;
    grid-gap: 15px;
}
.nameWrapper div{
    height: 55px;
}
.desWrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}
.desWrapper div{
    height: 55px;
}
.priceWrapper div{
    height: 55px;
}
.priceWrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}
.btnWrapper{
    width: 35%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 220px;
    height: 90px;
    font-size: 40px;
}
.Wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: space-around;
}
.underWrapper{
    display: grid;
    align-items: start;
    width: 30%;
}
.closeBtn{
    transition: all 0.8s;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}
.closeBtn:hover{
    transition: transform 500ms ease 0s;
    transform: rotate(180deg);
}